* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin: 1rem 5vw;
}

h1 {
    margin-top: 1rem;
}
.uiCotainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.uiCotainer > * {
    min-width: 200px;
    max-width: 600px;
    padding: .4rem;
    border-radius: 5px;
    font-size: small;
}

input {
    max-width: 125px;
    border-radius: 3px;
    padding: 3px;
}

button {
    min-width: 100px;
    border-radius: 3px;
    padding: 3px;
}

.layout {
    width: 100%;
    display: grid;
    grid:
        "header header header" auto "leftSide hash_map rightSide" 1fr "footer footer footer" auto / auto 1fr auto;
    gap: 8px;
}

.header {
    grid-area: header;
    text-align: center;
}

.leftSide {
    grid-area: leftSide;
    width: 5vw;
}

.hash_map {
    grid-area: hash_map;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.rightSide {
    grid-area: rightSide;
    width: 5vw;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.bucket {
    border-left: 0.5px solid rgb(81, 81, 81);
    border-top: 0.5px solid rgb(81, 81, 81);
    margin: 4px;
    padding: 4px;
    min-height: 40px;
    display: grid;
    grid-template-columns: 40px 96%;
    max-width: clamp(105px, 100vw, 100%);
}

.bucket :first-child {
    background-color: #d3d3d3;
    text-align: center;
    font-weight: bold;
    place-content: center;
}

.bucket :last-child {
    padding-left: 4px;
}